<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu List</title>

    <style>
        label{
            padding: 0px 10px;
        }
        input{
            width:80px;
        }
        input[type="button"]{
            background-color: black;
            color:white;
            border-radius: 5px;
            height: 30px;
        }
        .box{
            box-sizing: border-box;
            width:90px;
            border:2px solid black;
            text-align:center;
        }
    </style>
</head>
<body>
    <div id="app">
        <div>
            <p>新增單筆：</p>
            <label for="product">名稱</label> <input v-model="product" id="product">
            <label for="price">單價</label>   <input v-model="price" id="price">
            <label for="quantity">數量</label><input v-model="quantity" id="quantity">
            <input type="button" v-on:click="addNewList" value="新增">
        </div>
        <br>
        <p>購物清單：</p>
        <table>
            <tr v-for='(list,index) in lists' v-bind:key='list.id'>
                <td class="box">{{list.title1}}</td>
                <td class="box">{{list.title2}}</td>
                <td class="box">{{list.title3}}</td>
                <td><input type="button" value="刪除" v-on:click='lists.splice(index, 1)'></td>
            </tr>
        </table>
        <p>總價：{{totalPrice}}</p>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>    
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                product:'0',
                price:'0',
                quantity:'0',
                lists:[
                    {
                        id:0,
                        title1:'皮包',
                        title2:10,
                        title3:3
                    },
                    {
                        id:1,
                        title1:'手機',
                        title2:20,
                        title3:2
                    },
                    {
                        id:2,
                        title1:'課本',
                        title2:30,
                        title3:1
                    },
                ],
                nextId:3
            },
            methods:{
                addNewList:function(){
                    this.lists.push({
                        id:this.nextId++,
                        title1:this.product,
                        title2:this.price,
                        title3:this.quantity
                    }),
                    this.product='0',
                    this.price='0',
                    this.quantity='0'
                }
            },
            computed: {
                totalPrice: function(){
                    var total = 0;
                    for(var i=0; i < this.lists.length; i++){
                        var item = this.lists[i];
                        total += item.title2 * item.title3;
                    }
                    return total.toString();
                }
            }
        })
    </script>
</body>
</html>